<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1 class="text-center mt-5">Add New Student</h1>
        <form action="/students" method="POST" >
            <div class="form-group">
                <label for="name" class="font-weight-bold">Name:</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="Enter your name">

            </div>

            <div class="form-group">
                <label for="rollno" class="font-weight-bold">Roll Number:</label>
                <input type="text" id="rollno" name="rollno" class="form-control" placeholder="Enter your rollno" required>
                
            </div>

            <div class="form-group">
                <label for="course" class="font-weight-bold">Course:</label>
                <input type="text" id="course" name="course" class="form-control" placeholder="Enter your course"  required>
               
            </div>

            <button type="submit" class="btn btn-primary">Add Student</button>
        </form>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>